
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-menu{
  width: 220px !important;

}

.table tbody tr:last-child td {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-style: none;
}

.table tbody tr:last-child td:first-child {
  border-bottom-right-radius: 0;
}

.table tbody tr:last-child td:last-child {
  border-bottom-left-radius: 0;
}

.table{
  border-collapse: collapse;
  width: 100%;
}
.shift{
  margin-right: -60px;
  margin-left: 60px;
}
.title{
  margin-bottom: 50px;
}

/* .bg{
  background-image: url("./assets/images/bg.png");
} */